
Motor Imagery/CSP/BCI-competitionIVa/data_set_IVa_aw.mat
Motor Imagery/CSP/BCI-competitionIVa/data_set_IVa_al.mat
Motor Imagery/FBCSP/BCI-competitionIVa/data_set_IVa_al.mat
Motor Imagery/FBCSP/BCI-competitionIVa/data_set_IVa_aw.mat
*.mat
*.gdf
